.banner {
  position: relative;
  max-width: 100%;
  min-height: 180px;
  background-size: cover;
  background-position: left; /* Focus sur le bas de l'image */
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center; /* Aligner le texte en bas */
  background-attachment: fixed;
}

.banner h1 {
  font-size: 3rem;
  z-index: 1; 
  white-space: nowrap;
}

.break-on-small-screens {
  display: none; // Par défaut, ne pas afficher le <br /> pour les grands écrans
}

.banner::before {
  position: absolute;
  content: "";
  inset: 0;
  border-radius: 20px;
  background-color: rgba(0,0,0,0.3);
 }

 @media (max-width: 600px) {
  .banner {
    background-size: cover;
    background-position: bottom;
    max-height: 95px;
    background-attachment: initial;
    margin-top: 25px;
  }

  .banner h1 {
    font-size: 2rem;
    font-weight: 500;
  }

  .break-on-small-screens {
    display: block;
  }
}
