.navbar {
  display: flex;
  align-items: center;
  color: #ff6060;
  font-size: 20px;
  margin: 20px 0;
  gap: 2rem;
  
  .navbar_menu a.active {
    text-decoration: underline;
  }
  &_logo {
    margin-right: auto;
  }
  .navbar_menu {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 2rem;

       a {
        text-decoration: none;
        color: #ff6060;

        &:hover {
          text-decoration: underline;
        }
    }
  }
}

.activeLink {
  text-decoration: underline; /* Ajoute un soulignement */
}

@media (max-width: 600px) {
  .navbar {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 12px;

    .navbar_menu {
      gap: 10px;
    } 

  .navbar_logo img {
    max-width: 70%;
  }
  .navbar_logo {
    margin-right: -20px;
  }
}
}
