.banner {
  position: relative;
  max-width: 100%;
  min-height: 180px;
  background-size: cover;
  background-position: center; /* Focus sur le bas de l'image */
  border-radius: 2rem;
  overflow: hidden; /* Masquer les parties débordantes de l'image */
  display: flex;
  justify-content: center;
  align-items: center; /* Aligner le texte en bas */
  background-image: url('banner.png');
}

.banner h1 {
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 3rem;
  z-index: 1; 
  white-space: nowrap;
}

.break-on-small-screens {
  display: none; // Par défaut, ne pas afficher le <br /> pour les grands écrans
}

.banner::before {
  position: absolute;
  content: "";
  inset: 0;
  border-radius: 2rem;
  background-color: rgba(0,0,0,0.3);
 }

 @media (max-width: 600px) {
  .banner {
    position: relative;
    display: flex;
    align-items: flex-start; // Aligner verticalement le texte en bas
    text-align: left; // Aligner le texte à gauche
    flex-direction: column;
    min-height: 75px;
    padding: 1rem;
    border-radius: 10px;
  }

  .banner::before {
    border-radius: 0;
  }
  
  .banner h1 {
    font-size: 20px;
  }

  .break-on-small-screens {
    display: inline;
  }
}