.navbar {
  display: flex;
  align-items: center;
  color: #ff6060;
  font-family: 'Montserrat';
  font-size: 20px;
  margin: 20px 0;
  gap: 2rem;

  div {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &_logo {
    margin-right: auto;
  }
}

