.navbar {
  display: flex;
  align-items: center;
  color: #ff6060;
  font-family: 'Montserrat';
  font-size: 20px;
  margin: 20px 0;
  gap: 2rem;

  &_logo {
    margin-right: auto;
  }
  .navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 2rem;

    li {
      margin: 0;
      padding: 0;

      a {
        text-decoration: none;
        color: #ff6060;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .navbar {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 12px;
    gap: 6%;

  }

  .navbar_logo img {
    max-width: 50%;
  }

  
}
